@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

body {
  min-height: 100dvh;
  background-size: cover;
  background: linear-gradient(to bottom, #bbc7dc, #6d90b9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  width: 100dvw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_logo {
  font-size: 14px;
  font-weight: bold;
}
