.tasks_container {
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.task_div {
  width: 500px;
  min-height: 100px;
  margin-bottom: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  box-shadow: 1px 9px 18px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 9px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 9px 18px -4px rgba(0, 0, 0, 0.75);
}

.task_name {
  font-size: 18px;
  width: 250px;
  font-weight: bold;
  overflow-wrap: break-word;
}

.description {
  font-size: 12px;
}

.description_p {
  font-size: 10px;
  width: 200px;
  overflow-wrap: break-word;
  margin-top: 2px;
}

.text_div {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

.action_div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.action_div > * {
  margin-right: 15px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.action_div > *:hover {
  scale: 1.1;
}
